.services-page {
  padding: 0px 90px 80px 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-page h1 {
  font-size: 2.5rem;
  color: #008080;
  margin-bottom: 1.25rem;
}

.services-page p {
  color: #666;
  font-size: 1.1rem;
  max-width: 500px;
  margin: 0 auto 3rem;
}

.service-cards {
  display: grid;
  gap: 50px;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.service-card {
  padding: 2rem;
  background: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 15rem;
}

.service-card h3 {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.service-card p {
  color: #666;
  font-size: 1rem;
  line-height: 1.6;
}

.service-card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}


@media (max-width: 1024px) {
  .services-page {
    padding: 40px 20px;
  }
  
  .service-cards {
    gap: 2rem; /* Slightly increase spacing for better readability */
  }
}

@media (max-width: 768px) {
  .services-page {
    padding: 50px 10px;
    text-align: left; /* Align text left for smaller screens */
  }

  .service-cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Reduce card width for smaller screens */
    gap: 1.9rem;
  }

  .service-card {
    padding: 15px;
  }

  .services-page h1 {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .services-page p {
    font-size: 1rem;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .service-cards {
    grid-template-columns: 1fr; /* Single column for very small screens */
    gap: 1rem;
  }

  .service-card {
    padding: 10px;
    font-size: 0.85rem;
  }

  .services-page h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .services-page p {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
}


